<nav class="top-bar">
  <ul style="display: flex; justify-content: right">
    <li>
      <a routerLink="/home">Shell Home</a>
    </li>
    <li>
      <a routerLink="/gym">Gym</a>
    </li>
    <li>
      <a routerLink="/mealplanner">Meal Planner</a>
    </li>
    <li>
      <a routerLink="/exercise">Angular 17 Exercise tracker</a>
    </li>
  </ul>
</nav>
<h1>Shell app version : {{ ngVersion }}</h1>

<div style="border: 3px solid black; padding: 1rem; margin-bottom: 1rem">
  Socket test
  <app-cricket-score></app-cricket-score>
</div>
<div style="border: 3px solid black; padding: 5rem">
  <router-outlet />
</div>
